Repository fortra/impacket, pull requests merged in 2021-04, with the labels that each got.

#1055 Added basic GitHub Actions workflow
  .github/workflows/build_and_test.yml
Labels: feature

#1054 Attempt to fix Python 3.9 compatibility issue with array.array tostring/fromstring methods
  examples/nmapAnswerMachine.py
  impacket/ICMP6.py
  impacket/IP6.py
  impacket/ImpactPacket.py
  impacket/NDP.py
  impacket/cdp.py
  impacket/dot11.py
  impacket/helper.py
  impacket/wps.py
Labels: enhancement

#1059 Fixed Ping examples
  examples/ping.py
  examples/ping6.py
Labels: bug

#1061 Attempt to fix Python 3.9 compatibility issue with Thread.is_alive
  tests/ImpactPacket/test_TCP_bug_issue7.py
Labels: enhancement

#1053 Refactored the target parsing functions
  examples/atexec.py
  examples/dcomexec.py
  examples/dpapi.py
  examples/exchanger.py
  examples/goldenPac.py
  examples/lookupsid.py
  examples/mimikatz.py
  examples/mqtt_check.py
  examples/mssqlclient.py
  examples/psexec.py
  examples/rdp_check.py
  examples/reg.py
  examples/rpcdump.py
  examples/sambaPipe.py
  examples/samrdump.py
  examples/secretsdump.py
  examples/services.py
  examples/smbclient.py
  examples/smbexec.py
  examples/wmiexec.py
  examples/wmipersist.py
  examples/wmiquery.py
  impacket/examples/utils.py
  tests/misc/test_utils.py
Labels: enhancement

#1058 Refactored the credentials parsing functions
  examples/GetADUsers.py
  examples/GetNPUsers.py
  examples/GetUserSPNs.py
  examples/addcomputer.py
  examples/findDelegation.py
  examples/getPac.py
  examples/getST.py
  examples/getTGT.py
  examples/netview.py
  examples/raiseChild.py
  examples/rpcmap.py
  impacket/examples/ntlmrelayx/utils/config.py
  impacket/examples/utils.py
  tests/misc/test_utils.py
Labels: enhancement

#1057 Moved docker container to Python 3.8
  Dockerfile
Labels: enhancement

#1044 User can select comversion #1031
  examples/dcomexec.py
  examples/wmiexec.py
  examples/wmipersist.py
  examples/wmiquery.py
  impacket/dcerpc/v5/dcomrt.py
Labels: in review

#1069 wmipersist.py: Fixed filterBinding error
  examples/wmipersist.py
Labels: bug
