Repository fortra/impacket, pull requests merged in 2022-04, with the labels that each got.

#1297 Ntlmrelayx refactor
  examples/ntlmrelayx.py
  impacket/examples/ldap_shell.py
  impacket/examples/ntlmrelayx/attacks/httpattacks/adcsattack.py
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
  impacket/examples/ntlmrelayx/servers/httprelayserver.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
  impacket/examples/ntlmrelayx/utils/config.py
  impacket/examples/ntlmrelayx/utils/targetsutils.py
  impacket/smb.py
  requirements.txt
Labels: Examples, Library, Setup

#1063 User-defined password for LDAP attack addComputer
  examples/ntlmrelayx.py
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
Labels: in review

#1225 Add rename_computer and modify add_computer in LDAP interactive shell
  impacket/examples/ldap_shell.py
Labels: in review

#1231 Support for the ADCS ESC1 and ESC6 attacks with ntlmrelayx.py
  examples/ntlmrelayx.py
  impacket/examples/ntlmrelayx/attacks/httpattacks/adcsattack.py
  impacket/examples/ntlmrelayx/utils/config.py
Labels: in review

#1241 Multiple HTTP listeners at the same time for ntlmrelayx
  examples/ntlmrelayx.py
  impacket/examples/ntlmrelayx/servers/httprelayserver.py
  impacket/examples/ntlmrelayx/utils/config.py
Labels: in review

#1273 Added flag --disable-multi
  examples/ntlmrelayx.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
  impacket/examples/ntlmrelayx/utils/config.py
Labels: in review

#1275 [ntlmrelayx] Only dump ADCS once
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
Labels: in review

#1171 Connect to RPC using alternative credentials
  examples/smbpasswd.py
  impacket/dcerpc/v5/samr.py
Labels: in review

#1210 The Kerberos Key List Attack
  examples/keylistattack.py
  examples/secretsdump.py
  impacket/examples/secretsdump.py
Labels: Examples, Library

#1293 Removed deprecation warnings due to regex strings
  examples/psexec.py
  impacket/examples/secretsdump.py
Labels: in review, Examples, Library

#1303 SMBServer: Missed info level for SMB2 FileBothDirectoryInfo
  impacket/smbserver.py
Labels: in review, Library

#1305 Implementing StartTLS
  impacket/examples/ldap_shell.py
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
Labels: in review
