Repository fortra/impacket, pull requests merged in 2023-04, with the labels that each got.

#1432 Update httprelayclient.py to force NTLM auth if anonymous auth is enabled (ADCS)
  impacket/examples/ntlmrelayx/clients/httprelayclient.py
Labels: medium

#1537 Updated GitHub Actions and Tox.ini
  .github/workflows/build_and_test.yml
  tox.ini
Labels: CI/CD & Tests

#1499 smbexec: Fixup Python 3 compat and workaround TCP over NetBIOS being disabled
  examples/smbexec.py
Labels: in review, medium
