Repository fortra/impacket, pull requests merged in 2023-09, with the labels that each got.

#1598 added setuptools requirement for pkg_resources python library, removed future module also
  requirements.txt
  setup.py
Labels: Setup, medium

#1398 Address DHCP python3 bug
  impacket/dhcp.py
Labels: bug, waiting for response

#1609 mssqlshell: switch back to current db after `enum_impersonate`
  impacket/examples/mssqlshell.py
Labels: in review

#1587 fix NextEntryOffset for large directory listings
  impacket/smbserver.py
Labels: medium

#1607 Updated the help information for -outputfile to be consistent with -save
  examples/GetUserSPNs.py
Labels: medium

#1602 ntlmrelayx.py: Log initial authentication in multi-target mode
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
Labels: medium
