Repository fortra/impacket, pull requests merged in 2023-05, with the labels that each got.

#1515 tds.py: fixed python3 incompatibility when receiving over TLS socket
  impacket/tds.py
Labels: medium

#1520 Adds getters for ServiceInstall service and binary name
  impacket/examples/serviceinstall.py
Labels: medium

#1531 Fix(smbserver): Change the mode of FILE_OPEN_IF to O_CREAT
  impacket/smbserver.py
Labels: medium

#1500 dpapi: Fix printing master key
  examples/dpapi.py
Labels: medium

#1545 Ticketer: Added extra-pac implementation
  examples/ticketer.py
  impacket/dcerpc/v5/dtypes.py
  impacket/krb5/pac.py
Labels: Examples, Library

#1391 Ticketer extra-pac implementation (UPN_DNS_INFO, PAC_ATTRIBUTES_INFO, PAC_REQUESTOR)
  examples/ticketer.py
  impacket/krb5/pac.py
Labels: waiting for response, in review, high

#1535 Make class SQLSHELL accessible outside of the mssqlclient.py example
  examples/mssqlclient.py
  examples/ntlmrelayx.py
  impacket/examples/mssqlshell.py
  impacket/examples/ntlmrelayx/attacks/mssqlattack.py
Labels: in review, low

#1524 add b'' prefix for IDispatch derived classes in comev implemention
  impacket/dcerpc/v5/dcom/comev.py
  tests/dcerpc/test_dcomrt.py
Labels: medium

#1546 Ticketer: Changed default PAC
  examples/ticketer.py
Labels: Examples

#1555 Deleted hardcoded service name in smbexec and ensure that the output file is deleted
  examples/smbexec.py
Labels: medium
