Repository fortra/impacket, pull requests merged in 2023-01, with the labels that each got.

#1464 Modify build and test job for Python 3.6
  .github/workflows/build_and_test.yml
Labels: CI/CD & Tests

#1329 Use a custom LDAP filter during a DCSync in secretsdump.py
  examples/secretsdump.py
  impacket/examples/secretsdump.py
Labels: in review

#1373 SMB3 improvements
  impacket/smb3.py
  impacket/smb3structs.py
Labels: Library

#1469 Modified getKerberosTGS function in GetUserSPNs.py
  examples/GetUserSPNs.py
Labels: Examples
