Repository fortra/impacket, pull requests merged in 2023-06, with the labels that each got.

#1549 Impacket #975: ldap.py: LDAPConnection now parses escaped characters in filters
  impacket/ldap/ldap.py
Labels: medium

#1528 Fix minor "get_instace" typo
  impacket/ntlm.py
Labels: medium

#1444 [Get-GPPPassword.py] Better handling of various XML files in Group Policy Preferences.
  examples/Get-GPPPassword.py
Labels: medium

#1560 Added Recursive File Listing to SMBClient.py
  impacket/examples/smbclient.py
Labels: medium

#1571 Ntlmrelayx: Add DNS records through LDAP
  examples/ntlmrelayx.py
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
  impacket/examples/ntlmrelayx/utils/config.py
Labels: Examples, Library

#1289 [ntlmrelayx] LDAP attack: Add DNS records through LDAP
  examples/ntlmrelayx.py
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
  impacket/examples/ntlmrelayx/utils/config.py
Labels: in review, medium

#1554 GetNPUsers.py: Fixed incorrectly formatted output hashes for AES128/256 (etype 17/18) AS-REPs
  examples/GetNPUsers.py
Labels: bug, medium

#1567 TGT will also be printed on stdout even when writing to an output file
  examples/GetNPUsers.py
Labels: medium

#1511 Fix CVE-2020-17049
  impacket/krb5/ccache.py
Labels: medium

#1547 Impacket #1434: Added `SMB2_FILE_ALLOCATION_INFO` type determination, referenced Samba code
  impacket/smbserver.py
Labels: bug, in review

#1526 support sasl authentication in ldap protocol
  impacket/ldap/ldap.py
  tests/SMB_RPC/test_ldap.py
Labels: medium
