Repository fortra/impacket, pull requests merged in 2023-07, with the labels that each got.

#1353 add filter option to ntlmrelayx.py
  examples/ntlmrelayx.py
Labels: medium

#1382 add net.py to examples
  examples/net.py
Labels: waiting for response, medium

#1589 Added deprectation warning in examples for v0.11
  examples/nmapAnswerMachine.py
  examples/smbpasswd.py
  examples/smbrelayx.py
  impacket/version.py
Labels: Examples, Library

#1523 add dumpntlm.py to examples
  examples/DumpNTLMInfo.py
Labels: waiting for response, in review
