Repository fortra/impacket, pull requests merged in 2023-10, with the labels that each got.

#1586 returns STATUS_DIRECTORY_NOT_EMPTY when we try to tag a non-empty fol…
  impacket/smbserver.py
Labels: waiting for response, medium

#1616 Bug Fix: Net.py had text in the wrong order
  examples/net.py
Labels: medium

#1201 [describeTicket.py] New example script: ticket describer and decrypter
  examples/describeTicket.py
Labels: in review, medium

#1413 Support for Kerberoasting without pre-authentication and ST request through AS-REQ
  examples/GetUserSPNs.py
  examples/getTGT.py
  impacket/krb5/kerberosv5.py
Labels: medium

#1411 [ticketer.py] Sapphire tickets
  examples/ticketer.py
Labels: medium

#1564 Added CREDHIST support
  examples/dpapi.py
  impacket/dpapi.py
Labels: medium

#1617 Enhanced MSSQLShell in NTLMRelayX leveraging TcpShell & output messages
  impacket/examples/mssqlshell.py
  impacket/examples/ntlmrelayx/attacks/mssqlattack.py
  impacket/tds.py
Labels: in review, medium

#1614 The tree command of "smbclient.py" does not parse the path correct.
  impacket/examples/smbclient.py
  impacket/smbserver.py
Labels: bug, medium

#1630 [DumpNTLMInfo.py] fix error with 2003
  examples/DumpNTLMInfo.py
Labels: bug, waiting for response
