Repository fortra/impacket, pull requests merged in 2024-04, with the labels that each got.

#1683 minor change in ntfs-read.py to make it more human-readable
  examples/ntfs-read.py
Labels: low

#1685 Add domain and username to interactive Ldap shell message
  impacket/examples/ntlmrelayx/attacks/__init__.py
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
Labels: medium

#1680 bug fix issue #1675
  impacket/structure.py
Labels: in review

#1659 ntlmrelayx.py: Fix problem with SMB MessageID for the SOCKS proxy.
  impacket/examples/ntlmrelayx/servers/socksplugins/smb.py
Labels: in review

#1291 [dacledit.py] New example script for DACL manipulation
  examples/dacledit.py
  impacket/msada_guids.py
Labels: high
