Repository fortra/impacket, pull requests merged in 2024-08, with the labels that each got.

#1784 Adding parameter "-outputfile" to set smbserver log file.
  examples/smbserver.py
  impacket/smbserver.py
Labels: Examples, Library

#1785 Support for adding REG_MULTI_SZ values through reg.py
  examples/reg.py
  impacket/dcerpc/v5/rrp.py
Labels: Examples, Library

#1780 Shadow credentials update
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
  impacket/examples/ntlmrelayx/utils/shadow_credentials.py
Labels: medium

#1791 smbserver examples log to console
  examples/karmaSMB.py
  examples/smbexec.py
  examples/smbrelayx.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
Labels: Examples, Library

#1629 fix endless loop in FIND_NEXT2
  impacket/smb.py
Labels: bug

#1776 Fix broken hRSetServiceObjectSecurity method.
  impacket/dcerpc/v5/scmr.py
Labels: medium

#1393 [rbcd.py] Handled SID not found in LDAP error
  examples/rbcd.py
Labels: medium

#1792 Print message when connections are received in relay servers
  impacket/examples/ntlmrelayx/servers/httprelayserver.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
  impacket/examples/ntlmrelayx/servers/wcfrelayserver.py
Labels: Examples, Library

#1789 Logging multirelay status on ntlmrelayx.py
  examples/ntlmrelayx.py
Labels: Examples

#1767 winregistry.py: handle value name containting backslash character
  examples/registry-read.py
  impacket/winregistry.py
Labels: bug, waiting for response

#1318 [ntlmrelayx] Dump ADCS: bug fixes
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
Labels: medium

#1749 feat: add principalType as new option
  examples/getTGT.py
Labels: enhancement, medium

#1585 Added ability to set the RENEW ticket option to renew a TGT
  examples/getST.py
  impacket/krb5/kerberosv5.py
Labels: enhancement, waiting for response, medium

#1800 removed pyreadline dependency
  examples/mimikatz.py
  examples/ntfs-read.py
  impacket/examples/smbclient.py
  requirements.txt
  setup.py
Labels: Examples, Library, Setup

#1795 [MSSQL] Fixing logging in printReplies
  impacket/examples/mssqlshell.py
  impacket/examples/ntlmrelayx/attacks/mssqlattack.py
  impacket/tds.py
Labels: Examples, Library

#1797 bugfix in net.py: show user account enabled or not enabled
  examples/net.py
Labels: bug, medium
