Repository fortra/impacket, pull requests merged in 2024-07, with the labels that each got.

#1760 Add new test cases for test_smb.py
  tests/SMB_RPC/test_smb.py
Labels: medium

#1769 [SECRETSDUMP] Remove unused code
  impacket/examples/secretsdump.py
Labels: medium

#1763 Fixed mismatched hex/dec definitions of SERVICE_TRIGGER_TYPE
  impacket/dcerpc/v5/scmr.py
Labels: bug, low

#1753 Update reg.py - Add a missing Null byte for REG_SZ values
  examples/reg.py
Labels: bug

#1765 winregistry.Registry: handle destruction of uninitialized instance
  impacket/winregistry.py
Labels: bug

#1622 Samrdump.py updated
  examples/samrdump.py
Labels: medium
