Repository fortra/impacket, pull requests merged in 2024-12, with the labels that each got.

#1854 Checking for 'value' != None before creating IWbemClass properties
  examples/wmiquery.py
  impacket/dcerpc/v5/dcom/wmi.py
Labels: Examples, Library

#1647 ntlmrelayx.py: Hide unnecessary 'Unsupported MechType' log messages
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
  impacket/examples/ntlmrelayx/servers/wcfrelayserver.py
  impacket/smbserver.py
Labels: low

#1857 SAMR: rephrased error message to account for non-relayed users
  impacket/dcerpc/v5/samr.py
Labels: medium

#1381 Update mssqlclient.py
  impacket/examples/mssqlshell.py
Labels: medium

#1770 allow to pass commands to mssqlclient.py via command line
  examples/mssqlclient.py
Labels: waiting for response, medium

#1860 Secretsdump - Change log level for message when account does not have hash info
  impacket/examples/secretsdump.py
Labels: Examples, Library

#1831 SMB Server fix filename offsets
  impacket/smbserver.py
Labels: in review

#1858 DHCP unpackOptions type mismatch error fix
  impacket/dhcp.py
Labels: bug

#1801 feat in net.py: add functionality to enable and disable user accounts
  examples/net.py
Labels: waiting for response, feature

#1825 Add support for LDAP and LDAPS protocols in ntlmrelayx SOCKS
  impacket/examples/ntlmrelayx/clients/ldaprelayclient.py
  impacket/examples/ntlmrelayx/servers/socksplugins/ldap.py
  impacket/examples/ntlmrelayx/servers/socksplugins/ldaps.py
Labels: medium
