Repository fortra/impacket, pull requests merged in 2024-03, with the labels that each got.

#1704 Remove dsinternals dependency
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
  impacket/examples/ntlmrelayx/utils/shadow_credentials.py
  requirements.txt
  setup.py
Labels: high

#1290 Adds the creation of a new machine account through SMB via ntlmrelayx
  examples/addcomputer.py
  examples/ntlmrelayx.py
  impacket/dcerpc/v5/samr.py
  impacket/examples/ntlmrelayx/attacks/smbattack.py
  impacket/examples/ntlmrelayx/utils/config.py
  impacket/examples/secretsdump.py
Labels: medium

#1673 GetADComputers.py and readLAPS.py
  examples/GetADComputers.py
  examples/readLAPS.py
Labels: medium

#1710 [DCOM] Fix kerberos with remoteHost & add '-target-ip' for wmiexec.py
  examples/wmiexec.py
  impacket/dcerpc/v5/dcomrt.py
Labels: medium

#1556 Implement MS-GKDI and LAPSv2 password extraction
  examples/GetLAPSPassword.py
  impacket/dcerpc/v5/epm.py
  impacket/dcerpc/v5/gkdi.py
  impacket/dpapi_ng.py
  requirements.txt
  setup.py
Labels: in review

#1361 fix can't add when value is REG_BINARY
  examples/reg.py
Labels: waiting for response

#1721 Incorporate Pennyw0rth/NetExec Impacket changes into Fortra Impacket (reloaded)
  impacket/dcerpc/v5/dcomrt.py
  impacket/dcerpc/v5/srvs.py
  impacket/smb3.py
  impacket/smbconnection.py
Labels: medium
