Repository fortra/impacket, pull requests merged in 2024-05, with the labels that each got.

#1738 Update rbcd.py
  examples/rbcd.py
Labels: bug

#1740 %s placeholder mssing
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
Labels: bug

#1439 Quality of life improvements
  examples/secretsdump.py
  examples/smbclient.py
  impacket/examples/ntlmrelayx/attacks/httpattacks/adcsattack.py
  impacket/examples/ntlmrelayx/servers/httprelayserver.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
  impacket/examples/secretsdump.py
  impacket/examples/smbclient.py
Labels: medium

#1741 NTLMRelayX Multirelay fixes and behavioral changes
  examples/ntlmrelayx.py
  impacket/examples/ntlmrelayx/servers/httprelayserver.py
  impacket/examples/ntlmrelayx/servers/rawrelayserver.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
  impacket/examples/ntlmrelayx/servers/wcfrelayserver.py
  impacket/examples/ntlmrelayx/utils/config.py
  impacket/examples/ntlmrelayx/utils/targetsutils.py
Labels: bug, high

#1719 [SECRETSDUMP] New Dump Method - Shadow Snapshot Method via WMI
  SAM'
  examples/secretsdump.py
  impacket/examples/secretsdump.py
Labels: waiting for response, high

#1743 Add UserResetInformation to samr.py in USER_INFORMATION_CLASS
  impacket/dcerpc/v5/samr.py
Labels: medium

#1730 Update DumpNTLMInfo.py: Allow non-default ports
  examples/DumpNTLMInfo.py
Labels: in review

#1727 [enhancement] Adding column to show if SPN exists in finddelegations.py
  examples/findDelegation.py
Labels: in review
