Repository fortra/impacket, pull requests merged in 2024-11, with the labels that each got.

#1850 update smbexec doc dead link
  ChangeLog.md
  examples/smbexec.py
Labels: low

#1832 SCCM Management Point and Distribution Point relay attacks implementation
  examples/ntlmrelayx.py
  impacket/examples/ntlmrelayx/attacks/httpattack.py
  impacket/examples/ntlmrelayx/attacks/httpattacks/sccmdpattack.py
  impacket/examples/ntlmrelayx/attacks/httpattacks/sccmpoliciesattack.py
  impacket/examples/ntlmrelayx/utils/config.py
Labels: waiting for response, medium

#1844 LDAP Channel binding implementation from #1697
  impacket/ldap/ldap.py
  impacket/ntlm.py
  tests/SMB_RPC/test_ntlm.py
Labels: medium

#1851 Fix packet padding concatenation error (#1819)
  impacket/ImpactPacket.py
Labels: bug
