Repository fortra/impacket, pull requests merged in 2025-09, with the labels that each got.

#2023 rdp_check support IPv6
  examples/rdp_check.py
  impacket/examples/utils.py
Labels: ipv6_support

#2036 Remove usage of `pkg_resources`
  impacket/examples/ntlmrelayx/attacks/__init__.py
  impacket/examples/ntlmrelayx/clients/__init__.py
  impacket/examples/ntlmrelayx/servers/socksplugins/__init__.py
  impacket/version.py
Labels: enhancement

#2042 Remove pyopen ssl version restriction
  impacket/examples/ntlmrelayx/attacks/httpattacks/adcsattack.py
  requirements.txt
  setup.py
Labels: medium

#2024 SMBServer & NTLMRelayx with IPv6 support
  examples/ntlmrelayx.py
  examples/smbserver.py
  impacket/examples/ntlmrelayx/servers/httprelayserver.py
  impacket/examples/ntlmrelayx/servers/rawrelayserver.py
  impacket/examples/ntlmrelayx/servers/rpcrelayserver.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
  impacket/examples/ntlmrelayx/servers/wcfrelayserver.py
  impacket/examples/utils.py
  impacket/smbserver.py
Labels: ipv6_support

#2032 Enhance attack logging for ntlmrelayx
  examples/ntlmrelayx.py
  impacket/examples/logger.py
  impacket/examples/ntlmrelayx/attacks/__init__.py
  impacket/examples/ntlmrelayx/attacks/ldapattack.py
  impacket/examples/ntlmrelayx/attacks/mssqlattack.py
  impacket/examples/ntlmrelayx/attacks/rpcattack.py
  impacket/examples/ntlmrelayx/attacks/smbattack.py
  impacket/examples/ntlmrelayx/clients/__init__.py
  impacket/examples/ntlmrelayx/servers/httprelayserver.py
  impacket/examples/ntlmrelayx/servers/rawrelayserver.py
  impacket/examples/ntlmrelayx/servers/rpcrelayserver.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
  impacket/examples/ntlmrelayx/servers/socksserver.py
  impacket/examples/ntlmrelayx/servers/wcfrelayserver.py
  impacket/examples/ntlmrelayx/utils/identity_log.py
Labels: medium

#1840 Add parsing for 'Export' hives and boot key computation from class names
  examples/registry-read.py
  examples/secretsdump.py
  impacket/examples/secretsdump.py
  impacket/winregistry.py
Labels: high

#2050 Fixing issue in ntlmrelayx winrmattack & winrm/s relay servers
  impacket/examples/ntlmrelayx/attacks/winrmattack.py
  impacket/examples/ntlmrelayx/servers/winrmrelayserver.py
  impacket/examples/ntlmrelayx/servers/winrmsrelayserver.py
Labels: high
