Repository fortra/impacket, pull requests merged in 2025-01, with the labels that each got.

#1835 Add SMB2 attribute tag and fix SMB2 query results
  impacket/smb3structs.py
  impacket/smbserver.py
Labels: in review

#1826 Add NTLM SIGN flag for SMB Server
  impacket/smbserver.py
Labels: in review

#1834 Fix SMB2 compoud response signing
  impacket/smbserver.py
Labels: in review

#1864 Fix directory traversal bug for smbComDeleteDirectory()
  impacket/smbserver.py
Labels: bug

#1865 changepasswd.py: improved error handling
  examples/changepasswd.py
Labels: enhancement, medium

#1833 ntlmrelayx: support upn format + oem encoding
  impacket/examples/ntlmrelayx/servers/httprelayserver.py
  impacket/examples/ntlmrelayx/servers/rawrelayserver.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
  impacket/examples/ntlmrelayx/servers/wcfrelayserver.py
  impacket/ntlm.py
Labels: bug, medium

#1859 Fix file length not matching file name because of multi-byte UTF-16
  impacket/smb3.py
Labels: bug, waiting for response

#1798 add more requests to even6 protocol
  impacket/dcerpc/v5/even6.py
  tests/dcerpc/test_even6.py
Labels: medium

#1843 Fix SOCKS Target Parsing
  impacket/examples/ntlmrelayx/servers/socksserver.py
Labels: bug
