Repository fortra/impacket, pull requests merged in 2025-06, with the labels that each got.

#1978 update harmj0y blog link
  examples/GetNPUsers.py
Labels: medium

#1974 ntlmrelayx.py: RPC server and EPM
  examples/ntlmrelayx.py
  impacket/dcerpc/v5/dcomrt.py
  impacket/dcerpc/v5/icpr.py
  impacket/dcerpc/v5/rpcrt.py
  impacket/examples/ntlmrelayx/attacks/httpattacks/adcsattack.py
  impacket/examples/ntlmrelayx/attacks/rpcattack.py
  impacket/examples/ntlmrelayx/attacks/smbattack.py
  impacket/examples/ntlmrelayx/clients/rpcrelayclient.py
  impacket/examples/ntlmrelayx/servers/__init__.py
  impacket/examples/ntlmrelayx/servers/rpcrelayserver.py
  impacket/examples/ntlmrelayx/utils/config.py
  impacket/examples/ntlmrelayx/utils/targetsutils.py
  impacket/ntlm.py
Labels: enhancement, Examples, Library, high

#1983 Connection discarded processing last target
  impacket/examples/ntlmrelayx/servers/httprelayserver.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
Labels: Examples, Library
