Repository fortra/impacket, pull requests merged in 2025-03, with the labels that each got.

#1908 Modify the getSSPType1 method to support NL_AUTH_MESSAGE_DNS_DOMAIN.
  impacket/dcerpc/v5/nrpc.py
Labels: medium

#1904 Add the Option to Dump Ntlm Hashes in Ntlmrelayx
  examples/ntlmrelayx.py
  impacket/examples/ntlmrelayx/servers/httprelayserver.py
  impacket/examples/ntlmrelayx/servers/rawrelayserver.py
  impacket/examples/ntlmrelayx/servers/smbrelayserver.py
  impacket/examples/ntlmrelayx/servers/wcfrelayserver.py
  impacket/examples/ntlmrelayx/utils/config.py
  impacket/smbserver.py
Labels: medium

#1898 Adding regsecrets and dpapidump
  examples/regsecrets.py
  impacket/examples/regsecrets.py
Labels: Examples, medium

#1862 Add autocomplete to "cat" command in smbclient.py
  impacket/examples/smbclient.py
Labels: in review

#1928 Techdebt examples bootstrapping v2
  examples/DumpNTLMInfo.py
  examples/Get-GPPPassword.py
  examples/GetADComputers.py
  examples/GetADUsers.py
  examples/GetLAPSPassword.py
  examples/GetNPUsers.py
  examples/GetUserSPNs.py
  examples/addcomputer.py
  examples/atexec.py
  examples/changepasswd.py
  examples/dacledit.py
  examples/dcomexec.py
  examples/describeTicket.py
  examples/dpapi.py
  examples/esentutl.py
  examples/exchanger.py
  examples/findDelegation.py
  examples/getArch.py
  examples/getPac.py
  examples/getST.py
  examples/getTGT.py
  examples/goldenPac.py
  examples/karmaSMB.py
  examples/keylistattack.py
  examples/kintercept.py
  examples/lookupsid.py
  examples/machine_role.py
  examples/mimikatz.py
  examples/mqtt_check.py
  examples/mssqlclient.py
  examples/mssqlinstance.py
  examples/net.py
  examples/netview.py
  examples/ntfs-read.py
  examples/ntlmrelayx.py
  examples/owneredit.py
  examples/psexec.py
  examples/raiseChild.py
  examples/rbcd.py
  examples/rdp_check.py
  examples/reg.py
  examples/registry-read.py
  examples/regsecrets.py
  examples/rpcdump.py
  examples/rpcmap.py
  examples/sambaPipe.py
  examples/samrdump.py
  examples/secretsdump.py
  examples/services.py
  examples/smbclient.py
  examples/smbexec.py
  examples/smbserver.py
  examples/ticketer.py
  examples/tstool.py
  examples/wmiexec.py
  examples/wmipersist.py
  examples/wmiquery.py
  impacket/examples/logger.py
  impacket/examples/utils.py
Labels: Examples, Library, high

#1935 Techdebt examples bootstrapping fixes
  examples/GetUserSPNs.py
  examples/findDelegation.py
  examples/rpcmap.py
Labels: bug
