Repository fortra/impacket, pull requests merged in 2025-08, with the labels that each got.

#2003 Monkeypatches
  examples/addcomputer.py
  impacket/examples/__init__.py
  impacket/examples/utils.py
Labels: Examples, Library, medium

#1894 [SMB] Massive Fixes, Features and Refactoring
  examples/attrib.py
  examples/filetime.py
  impacket/examples/smbclient.py
  impacket/smb.py
  impacket/smb3.py
  impacket/smb3structs.py
  impacket/smbconnection.py
  impacket/smbserver.py
  tests/SMB_RPC/test_smb.py
Labels: waiting for response, medium

#2017 Close issue #1436. Prevent secretsdump crashing win2k19
  impacket/examples/secretsdump.py
Labels: in review

#2010 Add badsuccessor attack example
  examples/badsuccessor.py
  examples/getST.py
  impacket/krb5/asn1.py
  impacket/krb5/constants.py
  impacket/krb5/kerberosv5.py
Labels: waiting for response, high

#2011 Add `-machine-only` and `-request-machine` flags to GetUserSPNs.py
  examples/GetUserSPNs.py
Labels: waiting for response

#1687 fix smbv1 unicode name in waitNamedPipe when flags2_unicode is true.
  impacket/smb.py
Labels: in review, unicode_issue

#1761 [samedit.py] Added example script to edit local SAM hashes
  examples/samedit.py
  impacket/examples/secretsdump.py
  impacket/winregistry.py
Labels: Examples, medium

#1867 GetNPUser.py: Single targets now correctly outputs hash to file
  examples/GetNPUsers.py
Labels: waiting for response
