Repository fortra/impacket, pull requests merged in 2025-05, with the labels that each got.

#1955 SAMR UnicodeChangePasswordUser issue fix when using high code point unicode characters
  impacket/dcerpc/v5/samr.py
  tests/dcerpc/test_samr.py
Labels: unicode_issue

#1940 Adding "-dc-host" parameter missing in some examples
  examples/dacledit.py
  examples/owneredit.py
  examples/rbcd.py
  impacket/examples/utils.py
Labels: medium

#1958 Structure encoding feature
  impacket/smb.py
  impacket/structure.py
Labels: medium, unicode_issue

#1965 Update build_and_test.yml
  .github/workflows/build_and_test.yml
  impacket/smbserver.py
  tests/SMB_RPC/test_smbserver.py
Labels: bug, high

#1959 Fix LDAP receive operations to handle signing on large responses
  impacket/ldap/ldap.py
Labels: bug, medium

#1962 several bugfixes in smb protocol
  impacket/smb.py
  impacket/smb3.py
  impacket/smbconnection.py
Labels: medium
