Repository fortra/impacket, pull requests merged in 2025-04, with the labels that each got.

#1937 Techdebt examples bootstrapping target domain fixes
  impacket/examples/utils.py
Labels: Examples

#1931 Removed invalid structure parameters
  impacket/smb.py
Labels: bug

#1915 mssqlshell.py new Download function and fix Upload function for linked servers
  impacket/examples/mssqlshell.py
Labels: enhancement, medium

#1919 Support channel binding and ldap signing for ntlm and kerberos auth
  impacket/krb5/gssapi.py
  impacket/ldap/ldap.py
  impacket/ntlm.py
  impacket/spnego.py
  tests/SMB_RPC/test_ntlm.py
Labels: enhancement

#1942 Added Support for LDAPS When Retrieving LAPS Password from Windows Server 2025
  examples/GetLAPSPassword.py
  impacket/examples/utils.py
Labels: enhancement
