Repository fortra/impacket, pull requests merged in 2025-07, with the labels that each got.

#1969 smbserver: gracefully exit on KeyboardInterrupt
  examples/smbserver.py
Labels: medium

#1847 Added user-status functionality to the SAMHashes Class of the secrestdump.py
  examples/secretsdump.py
  impacket/examples/secretsdump.py
Labels: enhancement, medium

#1970 Fixes for NMB Protocol
  impacket/nmb.py
  tests/SMB_RPC/test_nmb.py
Labels: waiting for response, medium

#2002 [MSSQL] Fix file exist error
  impacket/examples/mssqlshell.py
  impacket/mssql/version.py
  impacket/tds.py
  setup.py
Labels: medium

#2005 [MSSQL] Fix regression: Connection establishment
  impacket/examples/ntlmrelayx/clients/mssqlrelayclient.py
  impacket/tds.py
Labels: bug, high
